/* Reset básico para remover paddings e margins */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

h1 {
    color: #0056b3;
    margin-bottom: 20px; /* Ajuste para espaçamento abaixo do título principal */
}

span, p {
    display: block;
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h2, .card label, .card h3 {
    color: #024959;
}

.mini-card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.mini-card {
    flex: 1;
    padding: 10px;
    background-color: #f8f8f8; /* Fundo levemente diferente para destacar */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
    border-radius: 5px; /* Bordas arredondadas */
    margin: 5px; /* Espaço entre mini-cards */
}

.mini-card label {
    font-size: 14px;
    color: #666;
}

.mini-card h3 {
    font-size: 18px; /* Ajuste do tamanho do texto para visualização clara */
    margin-top: 5px;
    color: #007BFF; /* Cor azul para dar destaque ao valor */
}

.current-level-card {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e8f0fe; /* Fundo azul claro para destaque */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Garantindo que o card de nível atual ocupe toda a largura disponível */
}

.current-level-card label {
    font-size: 16px;
    color: #024959; /* Cor escura para o título */
}

.current-level-card h3 {
    font-size: 24px;
    margin: 0;
    color: #007BFF; /* Cor azul para dar destaque ao valor */
}

.observations {
    font-size: 12px;
    color: #666;
    margin-top: 15px;
    text-align: justify;
}

.alert-span { /* Classe específica para spans de alerta */
    display: block; /* Faz o span se comportar como um bloco */
    background-color: #ffcc00; /* Fundo amarelo para destacar */
    color: #000; /* Texto preto para contraste */
    padding: 5px 10px;
    margin-bottom: 10px; /* Espaço abaixo do alerta */
    border-radius: 5px; /* Bordas arredondadas */
    font-weight: bold; /* Texto em negrito */
}

@media (max-width: 600px) {
    .card {
        width: 90%;
    }
    .mini-card-container {
        flex-direction: column; /* Empilhando mini-cards verticalmente em telas pequenas */
    }
}
