.card {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
    text-align: center;
}

.card a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.card a:hover {
    text-decoration: underline;
}

.observations {
    font-size: 6px;
    color: #666;
    margin-top: 10px;
    text-align: justify;
}

@media (max-width: 600px) {
    .card {
        width: 90%;
    }
}
